@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-red {
        @apply px-4 py-2 h-12 font-semibold rounded-lg text-white bg-rose-700 hover:bg-rose-600 cursor-pointer focus:outline-none focus:ring-2 focus:ring-rose-500 focus:ring-opacity-50;
    }

    .btn-red-outline {
        @apply px-4 py-2 font-semibold rounded-lg text-rose-700 hover:text-rose-600 border border-rose-700 hover:border-rose-600 cursor-pointer focus:outline-none focus:ring-2 focus:ring-rose-500 focus:ring-opacity-50;
    }

    .btn-red-none {
        @apply px-4 py-2 font-semibold  border-0 text-rose-700 hover:text-rose-600 cursor-pointer focus:outline-none;
    }

    .btn-icon {
        @apply p-1 rounded-full focus:outline-none hover:bg-gray-200 dark:hover:bg-gray-600 flex justify-center items-center;
    }

    .my-input {
        @apply w-full h-16 px-4 rounded-lg focus:outline-none bg-white shadow-md focus:ring-2 focus:ring-rose-600 dark:bg-gray-900 dark:border dark:border-gray-300 dark:border-opacity-75;
    }

    .navbar-btn-base {
        /*noinspection CssInvalidAtRule*/
        @apply px-2 py-1 md:py-4 text-gray-600 dark:text-gray-500 md:hover:text-rose-600 font-semibold lg:text-lg;
    }

    .navbar-btn-active {
        /*noinspection CssInvalidAtRule*/
        @apply border-l-2 md:border-l-0 md:border-b-2 border-rose-700 text-black dark:text-white;
    }

    .navbar-btn-position {
        @apply mb-4 md:mb-0 md:mr-8;
    }
}

* {
    -webkit-tap-highlight-color: transparent;
}
